h1 {
    color: black;
    text-align: center;
    font-size: 1.25em;
}

h3 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: Questrial;
    padding-top: 8rem;
    padding-bottom: .5rem;
}

h5 {
    display: flex;
    justify-content: center;
    color: floralwhite;
}

#quote {
    display:flex;
    justify-content: center;
    color: darkblue;
}

ul.first {
    display:flex;
    justify-content: left;

}

ul.second {
    display:flex;
    justify-content: right;
}

a {
  text-decoration: none;
  color: #030303;
}

.links {
  position: center;
  padding: 4rem;
  flex: none;
  right: 4rem;
  bottom: 4rem;
  font-family: Questrial;
  color: white;
}

.link-nav {
  padding: rem;
  text-align: center;
  font-size: 2rem;
}

.image-nav {
  padding: 2.5rem;
  border: 2.5rem;
  text-align: center;
 }

.devHeader {
  position: absolute;
  bottom: 16px;
  bottom: 1rem;
  padding: 1.5rem;
  max-width: 600px;
  z-index: 1;
  font-size: 30rem;
  margin: 0px;
  font-family: Questrial;
  color: white;
}

.header-inner {
  top:padding: 4rem;
  padding: 2rem;
  font-size: 1rem;
  justify-content: space-between;
  text-align:center;
  font-family: Questrial;
}

.app-inner {
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  height: 100VH;
  background-image: url('../public/background.jpg');
  background-size: cover;
}

.image {
  top-padding: .5rem;
  padding: 1rem;
  text-align: center;
  font-size: .75em;

 }

 .socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
}

a:hover {
    color: white;
}

